In [2]:
import pandas as pd
from statsmodels.tsa.arima.model import ARIMA

In [3]:
df = pd.read_csv('Apple merged.csv')

,Unnamed: 0,Unnamed: 0.1,date,high,low,open,close,volume,adjclose,formatted_date,Ticker,Company,Tweet Datetime,Retweets,Follower Count,compound
0,0,3,1503581400,40.185001,39.637501,40.107498,39.817501,79275600,37.945782,2017-08-24,AAPL,Apple,2017-08-24,1255.0,39292263.0,1.5696
1,1,4,1503667800,40.139999,39.817501,39.912498,39.965000,101920400,38.086349,2017-08-25,AAPL,Apple,2017-08-25,1123.0,26194842.0,1.8390
2,2,10,1504618200,41.062500,40.139999,40.937500,40.520000,117874000,38.615261,2017-09-05,AAPL,Apple,2017-09-05,11318.0,13097421.0,-0.3818
3,3,13,1504877400,40.287498,39.632500,40.215000,39.657501,114446000,37.793304,2017-09-08,AAPL,Apple,2017-09-08,740.0,13097421.0,0.8655
4,4,15,1505223000,40.990002,39.692501,40.652500,40.215000,286856000,38.324604,2017-09-12,AAPL,Apple,2017-09-12,14418.0,13097421.0,0.7901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,299,1052,1635168600,149.369995,147.619995,148.679993,148.639999,50720600,148.423386,2021-10-25,AAPL,Apple,2021-10-25,151.0,80568912.0,1.2650
300,300,1053,1635255000,150.839996,149.009995,149.330002,149.320007,60893400,149.102402,2021-10-26,AAPL,Apple,2021-10-26,53.0,57193883.0,-2.0995
301,301,1054,1635341400,149.729996,148.490005,149.360001,148.850006,56094900,148.633087,2021-10-27,AAPL,Apple,2021-10-27,607.0,51489803.0,1.1809
302,302,1055,1635427800,153.169998,149.720001,149.820007,152.570007,100077900,152.347656,2021-10-28,AAPL,Apple,2021-10-28,54.0,39815501.0,1.7839
303,303,1056,1635514200,149.940002,146.410004,147.220001,149.800003,124850400,149.581696,2021-10-29,AAPL,Apple,2021-10-29,44.0,22782203.0,2.7895