In [15]:
import pandas as pd
import numpy as np
from yahoofinancials import YahooFinancials

In [16]:
#start_date = 'yyyy-mm-dd'

def yahoo_finance_complete(ticker, start_date, end_date, Names, freq):
    
    #initializing historical stock price
    historical_stock_price = ticker
    
    # getting the data from yahoo!!!!!
    for i in range(len(ticker)):
        #initializing 
        yahoo_financials = YahooFinancials(ticker[i])
        historical_stock_price[i]= yahoo_financials.get_historical_price_data(start_date, end_date, freq) 
        
    # appending and creating combined database
    Summary_db = pd.DataFrame(columns = list(historical_stock_price[0]
                                         [list(historical_stock_price[0].keys())[0]]['prices'][0].keys())
                         )

    #outer loop for all the companies
    for i in range(len(historical_stock_price)):

        name = list(historical_stock_price[i].keys())[0]
        print(i,name)

        #inner loop for the data for a particluar company
        for j in range(len(historical_stock_price[i][name]['prices'])):

            val = historical_stock_price[i][name]['prices'][j]
            val['Ticker'] = name
            val['Company'] = Names[i]
            Summary_db = Summary_db.append([val], ignore_index=True)

    return Summary_db

In [17]:
#ticker = ['FB','GOOGL','AAPL','CSCO','MSFT','INTC','NFLX','AMZN']
#Names = ['Facebook', 'Google', 'Apple', 'Cisco', 'Microsoft', 'Intel', 'Netflix', 'Amazon']
#start_date = '2019-08-20'
#end_date = '2021-08-20'
#freq = 'daily'

In [18]:
#z = yahoo_finance_complete(ticker, start_date, end_date, Names, freq)

In [19]:
df = pd.read_csv('Company.csv')
df

  Company Names\tTicker
0           Apple\tAAPL
1           Cisco\tCSCO
2          Amazon\tAMZN
3          Facebook\tFB
4            Sony\tSony
5         Google\tGOOGL

In [23]:
[df.iloc[i][0].split('\t')[1] for i in range(df.shape[0])]

['AAPL', 'CSCO', 'AMZN', 'FB', 'Sony', 'GOOGL']

In [28]:
start_date = '2017-08-19'
end_date = '2021-10-30'
Names = [df.iloc[i][0].split('\t')[0] for i in range(df.shape[0])]
ticker = [df.iloc[i][0].split('\t')[1] for i in range(df.shape[0])]
freq = 'daily'

In [29]:
Summary  = (yahoo_finance_complete(ticker, start_date, end_date, Names, freq))

0 AAPL
1 CSCO
2 AMZN
3 FB
4 SONY
5 GOOGL

In [30]:
Summary.to_csv('Summanry_db.csv')