In [1]:
import twitterscraper

AttributeError: 'NoneType' object has no attribute 'find_all'

In [2]:
import twitterscraper
import pandas as pd
import tweepy
import datetime as dt

AttributeError: 'NoneType' object has no attribute 'find_all'

In [52]:
df_apple = pd.read_csv('/Users/divyamrana/Documents/Research Data/Apple_5years_clean.csv')
df_cisco = pd.read_csv('/Users/divyamrana/Documents/Research Data/Cisco/cisco.csv')

In [53]:
df_cisco

            Date Close/Last    Volume      Open    High       Low
0     07/30/2021     $55.37  13438790    $55.08  $55.49    $55.01
1     07/29/2021     $55.07  10680230       $55  $55.35     $54.9
2     07/28/2021     $54.77  18835700    $55.46  $55.52    $54.41
3     07/27/2021     $55.28  14738680    $55.38  $55.41    $54.79
4     07/26/2021     $55.47  10097440  $55.1315  $55.65  $55.1315
...          ...        ...       ...       ...     ...       ...
1254  08/05/2016     $31.04  18836710     $30.9  $31.07    $30.69
1255  08/04/2016      $30.8  18520200    $30.78  $30.91    $30.71
1256  08/03/2016     $30.72  15960960    $30.51  $30.74    $30.51
1257  08/02/2016     $30.62  24482410    $30.82  $30.82   $30.395
1258  08/01/2016     $30.73  22424350     $30.7  $30.75    $30.36

[1259 rows x 6 columns]

In [38]:
df_apple.columns

Index(['Date', 'Close/Last', 'Volume', 'Open', 'High', 'Low', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10'],
      dtype='object')

In [39]:
df_apple = df_apple[['Date','Close/Last', 'Volume', 'Open', 'High', 'Low']]

In [40]:
df_apple

            Date Close/Last     Volume     Open     High      Low
0     07/30/2021    $145.86   70440630  $144.38  $146.33  $144.11
1     07/29/2021    $145.64   56699480  $144.69  $146.55  $144.58
2     07/28/2021    $144.98  118931200  $144.81  $146.97  $142.54
3     07/27/2021    $146.77  104818600  $149.12  $149.21  $145.55
4     07/26/2021    $148.99   72434090  $148.27  $149.83  $147.70
...          ...        ...        ...      ...      ...      ...
1254  08/05/2016     $26.87  158186440   $26.57   $26.91   $26.55
1255  08/04/2016     $26.47  107126920   $26.40   $26.50   $26.32
1256  08/03/2016     $26.45  120593440   $26.20   $26.46   $26.19
1257  08/02/2016     $26.12  135080880   $26.51   $26.52   $26.00
1258  08/01/2016     $26.51  152075640   $26.10   $26.54   $26.10

[1259 rows x 6 columns]

In [58]:
begin_date = dt.date(2016,8,1)

In [59]:
end_date = dt.date(2021,7,30)

In [60]:
lang = 'english'

In [61]:
# API KEY : ITmgpljooI4EsnrRg5qehi9Hk
# API SECRET KEY : 5DC7rh4epQ136IbJhCtLggdZuJ0nC51LYX1uVBQc0nm7ABCKmI
# BEARER TOKEN : AAAAAAAAAAAAAAAAAAAAAGP6SAEAAAAAP1%2B4SNA4um4iOG0fPBLSKG77XrE%3DW7tqjZAAdPH18aksS2nrUkxjxQDqy8wLUlAM5S2jCxjB1Hmf3k

In [62]:
consumer_key = "ITmgpljooI4EsnrRg5qehi9Hk"
consumer_secret = "5DC7rh4epQ136IbJhCtLggdZuJ0nC51LYX1uVBQc0nm7ABCKmI"
access_token = "1421648405026144256-NIiNb9AjBwPGYlLEJeE4EvjgCSAXZo"
access_token_secret = "7cylqP3cCeE1mEaocvPgOu2mNTFKab5eFP0DgAOkqbqwf"

In [63]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

In [77]:
until_date = '2021-07-23'
username = 'Cisco'
max_tweets = 15000
tweets = tweepy.Cursor(api.user_timeline, id=username, until = until_date, tweet_mode='extended').items(max_tweets)

In [78]:
tweets_list = [[tweet.full_text, tweet.created_at, tweet.retweet_count, tweet.favorite_count, tweet.lang, tweet.source, tweet.in_reply_to_status_id_str, tweet.in_reply_to_user_id_str, tweet.is_quote_status,  tweet.user.followers_count] for tweet in tweets]
 
# Creation of dataframe from tweets_list
# Add or remove columns as you remove tweet information
tweets_df = pd.DataFrame(tweets_list,columns=['Tweet Text', 'Tweet Datetime', 'Retweets', 'Favorites', 'Language', 'Source', 'Replied Tweet Id', 'Replied Tweet User Id Str', 'Quote Status Bool', 'Follower Count'])

In [80]:
tweets_df['Source'].value_counts()

Sprinklr                    2486
Twitter Web App              603
Twitter for iPhone           122
Twitter for Advertisers        3
Twitter for Advertisers.       3
Twitter Media Studio           3
Name: Source, dtype: int64

In [73]:
tweets_df.to_csv('Cisco.csv')